Django==1.8.4
django-template-debug==0.3.5
oslo.config==2.4.0
oslo.i18n==2.6.0
oslo.serialization==1.9.0
oslo.utils==2.5.0
Pillow==2.9.0
cmsplugin-zinnia==0.8
Markdown==2.6.2
beautifulsoup4==4.4.1
dj-database-url==0.3.0
django-admin-enhancer==1.0.0
django-appconf==1.0.1
django-blog-zinnia==0.15.2
django-ckeditor==5.0.2
django-ckeditor-updated==4.4.4
django-classy-tags==0.6.2
django-cms==3.1.3
django-contrib-comments==1.6.1
django-meta==0.3.1
django-meta-mixin==0.1.1
django-missing==0.1.13
django-mptt==0.7.4
django-parler==1.5
django-polymorphic==0.7.1
django-reversion==1.9.3
django-sekizai==0.8.2
django-swiftstorage==1.1.0
django-tagging==0.4
django-taggit==0.17.1
django-taggit-autosuggest==0.2.7
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
django-xmlrpc==0.1.5
djangocms-admin-style==0.2.8
djangocms-link==1.6.2
djangocms-picture==0.1
djangocms-snippet==1.5
djangocms-text-ckeditor==2.6.0
djangocms-utils==0.9.5
djangocms-video==0.1
python-swiftclient==2.6.0
pytz==2015.6
simple-translation==0.8.6
simplejson==3.8.0
wsgiref==0.1.2
zinnia-wysiwyg-ckeditor==1.3
Pygments==2.0.2
django-pygments==0.1
django-openid-auth==0.5
python-openid==2.2.5
djangorestframework==3.2.4
