{% extends "website_base.html" %}
{% load cms_tags sekizai_tags menu_tags %}

{% block title %}{% endblock %}
{% block logo_text %}{% endblock %}

{% block nav_primary_links %}
{% show_menu_below_id "home" 0 1 0 1000 "menu/menu_header_first_level.html" %}
{% endblock %}

{% block breadcrumb_links %}
{% show_breadcrumb 1 %}
{% endblock breadcrumb_links %}

{% block second_level_nav_links %}
{% show_sub_menu 1 %}
{% endblock second_level_nav_links %}

{% block hero %}{% endblock hero %}

{% block content %}
    {% block base_content %}{% endblock %}
{% endblock %}

{% block footer_lists %}{% endblock footer_lists %}
{% block footer_inlines %}{% endblock footer_inlines %}
{% block footer_legal %}
	 <p class="twelve-col">&copy; 2014 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
	 <ul class="inline clear">
		 <li><a href="#">Legal information</a></li>
		 <li><a href="#">Report a bug</a></li>
		</ul>
{% endblock %}
