{% load i18n %}
<table>
	<thead>
		<tr>
			<th>{% trans "Name" %}</th>
			<th>{% trans "Publisher" %}</th>
			<th>{% trans "Version" %}</th>
			<th>{% trans "Release(s)" %}</th>
			<th>{% trans "Architecture(s)" %}</th>
		</tr>
	</thead>
	<tbody>
	{% for snap in gadget_snap_list %}
		<tr>
			<td>{{ snap.alias|default_if_none:snap.name }}</td>
			<td>{{ snap.publisher }}</td>
			<td>{{ snap.version }}</td>
			<td>{% for rel in snap.release.all %}{{ rel.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
			<td>{% for arch in snap.architecture.all %}{{ arch.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
		</tr>
	{% empty %}
		<tr>
			<td colspan='5'>{% trans "No Gadget snaps available." %}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
