{% extends "base.html" %}
{% load cms_tags %}

{# We're not showing the secondary navigation on a landing page #}
{% block nav_secondary %}{% endblock %}

{% block hero %}
<div id="hero" class="row row-hero">
    <div class="seven-col">
        {% placeholder hero_content %}
    </div>
    <div class="five-col last-col align-center align-vertically">
        {# FIXME: the image plugin generates an extra span wrapper, and the image has the wrong top position #}
        {% placeholder hero_image %}
    </div>
</div>
{% endblock hero %}

{% block base_content %}
  {% placeholder page_content %}
{% endblock %}
