[Desktop Entry]
Name={displayname}
Comment=Web app for {domain}
Type=Application
Icon={appname}.png
Exec=webapp-container {container_options} --webappUrlPatterns=https?://{domain}/* {url}
Terminal=false
X-Ubuntu-Touch=true

Name[en_US]={appname}.desktop
